node_modules/
backend/node_modules/
frontend/node_modules/
backend/dist/
backend/src/serviceAccountKey.json
backend/src/encoded.txt
backend/src/firebase-service-account.json
backend/src/serviceAccountKey_old.json
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*